body {
    margin: 0;
    overflow: hidden;
    height: 100vh;
    background-color: #000;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

#text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 1;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.hidden {
    visibility: hidden;
}

a#birthdayButton {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    color: #fff;
    background: linear-gradient(45deg, #ff007f, #7f00ff);
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    transition: background 0.3s, transform 0.3s;
}

a#birthdayButton:hover {
    background: linear-gradient(45deg, #7f00ff, #ff007f);
    transform: scale(1.1);
}
